/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

[type='checkbox'].toggle:checked {
    background-image: none;
}

[type='checkbox'].toggle:focus {
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,
        0 0 0 2px var(--tglbg) inset, var(--togglehandleborder);
}
